<!DOCTYPE html>
<html lang="en">

<head>
  <title>Olivia Monroe's Vexillology</title>
  <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon_io/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon_io/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon_io/favicon-16x16.png">
  <link rel="manifest" href="assets/favicon_io/site.webmanifest">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poetsen%20One">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="leaflet-style.css">
  <link rel="stylesheet" href="grid.css">
  <link rel="stylesheet" href="modal.css">
  <base target="_top">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

  <link rel="stylesheet" href="https://unpkg.com/leaflet.fullscreen/dist/Control.FullScreen.css" />
  <script src="https://unpkg.com/leaflet.fullscreen/dist/Control.FullScreen.umd.js"></script>
</head>

<body class="ballet-pink">

  <div class="w3-content custom-content">

    <header>
      <div class="w3-container">
        <h1><span class="hide-when-small-device">&#x1F6A9;&#x1F38C; </span>Olivia Monroe's Vexillology<span
            class="hide-when-small-device"> &#x1F38C;&#x1F6A9;</span></h1>
      </div>
      <div class="w3-container w3-center">
        <nav class="ballet-pink-3">
          <a href="#international">[International]</a>
          <a href="#north-america">[North America]</a>
          <a href="#south-america">[South America]</a>
          <a href="#africa">[Africa]</a>
          <a href="#asia">[Asia]</a>
          <a href="#europe">[Europe]</a>
          <a href="#oceania">[Oceania]</a>
        </nav>
      </div>
    </header>

    <div class="w3-container">
      <div class="custom-map-container">
        <div id="map">
        </div>
      </div>
    </div>

    <div class="w3-container" id="international">
      <h2>International Flags</h2>
      <a class="local-link" href="#">[back to top]</a>
      <div class="grid ballet-pink-2">
      </div>
    </div>

    <div class="w3-container">
      <h2>Local Flags</h2>

      <div class="w3-container w3-center">
        <nav class="ballet-pink-3">
          <a href="#north-america">[North America]</a>
          <a href="#south-america">[South America]</a>
          <a href="#africa">[Africa]</a>
          <a href="#asia">[Asia]</a>
          <a href="#europe">[Europe]</a>
          <a href="#oceania">[Oceania]</a>
        </nav>
      </div>

      <div id="north-america">
        <h3>North America</h3>
        <a class="local-link" href="#">[back to top]</a>
        <div class="grid ballet-pink-2">
        </div>
      </div>

      <div id="south-america">
        <h3>South America</h3>
        <a class="local-link" href="#">[back to top]</a>
        <div class="grid ballet-pink-2">
        </div>
      </div>

      <div id="africa">
        <h3>Africa</h3>
        <a class="local-link" href="#">[back to top]</a>
        <div class="grid ballet-pink-2">
        </div>
      </div>

      <div id="asia">
        <h3>Asia</h3>
        <a class="local-link" href="#">[back to top]</a>
        <div class="grid ballet-pink-2">
        </div>
      </div>

      <div id="europe">
        <h3>Europe</h3>
        <a class="local-link" href="#">[back to top]</a>
        <div class="grid ballet-pink-2">
        </div>
      </div>

      <div id="oceania">
        <h3>Oceania</h3>
        <a class="local-link" href="#">[back to top]</a>
        <div class="grid ballet-pink-2">
        </div>
      </div>

      <div class="w3-container w3-padding-16" style="display: block;">
        <a class="local-link" href="#">[back to top]</a>
      </div>
    </div>

    <div id="modal">
      <span id="modal-close">&times;</span>
      <img id="modal-content" src="assets/navi_ioc-resize.webp" alt="modal image">
      <div id="modal-caption"></div>
    </div>

    <script src="map.js"></script>
    <script src="leaflet-custom.js"></script>
    <script src="modal.js"></script>

  </div>

  <footer class="w3-dark-grey">
    <div class="w3-content custom-content">
      <div class=" w3-container w3-padding-32"><a href="https://github.com/navi-lo82/olivia-vex/" target="_blank"><img
            src="assets/flaticon/github-logo.png" alt="GitHub" style="width: 31px; height: 31px;"></a>
        <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank"><img
            src="https://creativecommons.org/wp-content/themes/vocabulary-theme/vocabulary/svg/cc/license_badges/big/by.svg"
            alt="Creative Commons Attribution 4.0 International (CC BY 4.0)" style="width: 88px; height: 31px;"></a>
        <br>
        All flag designs and captions are licensed under
        <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">
          CC BY 4.0</a> unless otherwise stated
        <br>
        Source code and credits are available on <a href="https://github.com/navi-lo82/olivia-vex"
          target="_blank">GitHub</a>
      </div>
    </div>
  </footer>

</body>

</html>
