#map {
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
}

.leaflet-custom-container {
  font-size: 16px;
  font-family: "Inter", "Open Sans", sans-serif;
}

.leaflet-custom-container .leaflet-custom-title {
  font-weight: bold;
  position: relative;
}

.leaflet-custom-container .leaflet-custom-title::after {
  content: "Show in Gallery";
  position: absolute;
  bottom: -150%;
  left: 0%;
  background-color: #000000;
  color: #ffffff;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 0.8rem;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.leaflet-custom-container .leaflet-custom-title:hover::after {
  opacity: 1;
  visibility: visible;
}

.leaflet-custom-container .leaflet-custom-author {
  font-weight: bold;
}

.ballet-pink {
  background-color: #FFCCE7;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  padding: 5px;
  font-weight: bold;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 35px;
  font-weight: bold;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 35px;
  font-weight: bold;
  font-style: italic;
}

p {
  font-size: 16px;
}

.large-local-link {
  display: block;
  padding: 10px;
  font-size: 20px;
}

.local-link {
  display: block;
  margin-bottom: 20px;
}

/* For display a type of flags */
.grid {
  background-color: #FF95CD;
  border-radius: 14px;
  column-count: 3;
  column-gap: 20px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

/* Dynamically change number of columns */
@media screen and (max-width: 1000px) {
  .grid {
    column-count: 2;
  }
}

@media screen and (max-width: 600px) {
  .grid {
    column-count: 1;
  }
}

.grid figure {
  display: block;
  width: 100%;
  margin: 0 0 20px 0;
  break-inside: avoid;
  box-sizing: border-box;

  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.grid img {
  width: 100%;
  height: auto;
  display: block;
}

.grid figcaption {
  padding: 15px;
}

.grid figcaption .figure-title {
  font-weight: bold;
  font-size: 20px;
  font-family: "Inter", "Open Sans", sans-serif;
  position: relative;
}

.grid figcaption .figure-title::after {
  content: "Show in Map";
  position: absolute;
  bottom: 125%;
  left: 0%;
  background-color: #000000;
  color: #ffffff;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 0.8rem;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.grid figcaption .figure-title:hover::after {
  opacity: 1;
  visibility: visible;
}

.grid figcaption .caption {
  font-family: "Inter", "Open Sans", sans-serif;
}

.grid figcaption .author {
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}

footer {
  margin-top: 30px;
  border-radius: 10px;
}

/* Style the Image Used to Trigger the Modal */
.grid img {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.grid img:hover {
  opacity: 0.7;
}

/* The Modal (background) */
#modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (Image) */
#modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 800px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#modal-caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  font-size: 50px;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
#modal-content,
#modal-caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* The Close Button */
#modal-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

#modal-close:hover,
#modal-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  #modal-content {
    width: 100%;
  }
}
