/* CSS for the Leaflet app and captions when clicking on flag*/

#map {
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
}

.leaflet-custom-container {
  font-size: 16px;
  font-family: "Inter", "Open Sans", sans-serif;
}

.leaflet-custom-container .leaflet-custom-title {
  font-weight: bold;
  position: relative;
}

.leaflet-custom-container .leaflet-custom-author {
  font-weight: bold;
}

/* This is for the tool tip when hovering over title*/

.leaflet-custom-container .leaflet-custom-title::after {
  content: "Show in Gallery";
  position: absolute;
  bottom: -150%;
  left: 0%;
  background-color: #000000;
  color: #ffffff;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 0.8rem;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.leaflet-custom-container .leaflet-custom-title:hover::after {
  opacity: 1;
  visibility: visible;
}

.leaflet-marker-icon:hover {
  opacity: 0.7;
}
