html {
  scroll-behavior: smooth;
}

.ballet-pink {
  background-color: #FFCCE7;
}

.ballet-pink-2 {
  background-color: #FF95CD;
}

.ballet-pink-3 {
  background-color: #FE65B6;
}

.custom-content {
  max-width: 1600px;
}

h1 {
  font-family: "Poetsen One";
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 960px) {
  .hide-when-small-device {
    display: none;
  }
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 35px;
  font-weight: bold;
  font-style: italic;
}

nav {
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin: 20px auto;
}

nav a {
  display: inline-block;
  font-size: 20px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 10px;
}

@media (hover:hover) {
  nav a:hover {
    background-color: #FF95CD;
  }
}

.local-link {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
}

@media (hover:hover) {
  .local-link:hover {
    text-decoration: none;
    background-color: #FE65B6;
  }
}

/* Hide tooltip hints if the pointer can hover */
@media (hover:hover) {
  .tooltip-hint {
    display: none;
  }
}

footer {
  width: 100%;
  margin-top: 30px;
  font-family: "Raleway", sans-serif;
}
